{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des transaction{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">

                        <h1 class="h1">Les ventes d'aujourd'hui</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0"></h5>
                        </div>
                        <div class="card-body ">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success  alert-dismissible fade show" role="alert">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="icon mdi mdi-check-circle-outline"></i>
                                        </div>
                                        <div class="content">
                                            <strong></strong> {{ message|raw }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="icon mdi mdi-check-circle-outline"></i>
                                        </div>
                                        <div class="content">
                                            <strong></strong> {{ message|raw }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="table-responsive p-t-10">
                                <table id="example" class="table   " style="width:100%">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Heure</td>
                                        <td>Reference</td>
                                        <td>montant</td>
                                        <td>Nombre de produit</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set total = 0 %}
                                    {% for facture in factures if facture.montant is not null %}
                                        {% set total = total + facture.montant %}
                                            <tr class="text-danger">
                                                <td>{{ loop.index }}
                                                <td>{{ facture.publieLe|date('H:i:s') }}
                                                <td>{{ facture.reference }}
                                                <td>{{ facture.montant }}</td>
                                                <td>{{ facture.nombreProduit }}</td>
                                                <td>
                                                    <a href="{{ path('caissier_show', {'id': facture.id}) }}">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--widget card ends-->


                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
