{% extends 'base.html.twig' %}

{% block body %}
    <h1>Domaine</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domaine.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ domaine.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if domaine.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ domaine.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ domaine.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ domaine.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ domaine.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ domaine.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('domaine_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('domaine_edit', { 'id': domaine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
