<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <title>{% block title %}GESTOCK :: LISTE DES PRODUITS VENDUS EXPORTABLES{% endblock %}</title>
    {% block stylesheets %}
        <link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/css/pace.css'))}}'/>
        <script src='{{ absolute_url(asset('ressources/assets/js/pace.min.js'))}}'></script>
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/bundles/291bbeead57f19651f311362abe809b67adc3fb5.css')) }}'/>
        <link rel='stylesheet' href='{{ absolute_url(asset('ressources/assets/bundles/30bc673ce76f73ecf02568498f6b139269f6e4c7.css')) }}'/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/materialdesignicons.min.css'))}}'/>
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/feather-icons.css'))}}'/>
        <link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('ressources/assets/css/atmos.min.css'))}}'/>
        <link rel="stylesheet" href="{{ absolute_url(asset('ressources/vendor/fontawesome/css/all.min.css')) }}">
        <link rel="stylesheet" href="{{ asset('ressources/assets/css/databootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('ressources/assets/css/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap4.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('ressources/img/favicon.ico')) }}"/>
    <link rel="icon" href="{{ absolute_url(asset('ressources/img/favico.ico')) }}" type="image/png" sizes="16x16">
</head>
<body class="sidebar-pinned">
<aside class="admin-sidebar">
    <div class="admin-sidebar-brand">
        <img class="admin-brand-logo" src="{{ absolute_url(asset('ressources/img/icon-01.png')) }}" width="60" alt="atmos Logo">
        <div class="ml-auto">
            <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
            <a href="#" class="admin-close-sidebar"></a>
        </div>
    </div>
    <div class="admin-sidebar-wrapper js-scrollbar">
        <ul class="menu">
            <li class="menu-item active ">
                <a href="#" class="open-dropdown menu-link">
                    <span class="menu-label">
                        <span class="menu-name">Tableau de bord
                            <span class="menu-arrow"></span>
                        </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder fa fa-chart-line "></i>
                    </span>
                </a>
                <!--submenu-->
                <ul class="sub-menu">

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="menu-item ">
                            <a href='{{ path('caisse_jour') }}' class=' menu-link'>
                            <span class="menu-label">
                                <span class="menu-name">Statistique caisse</span>
                            </span>
                                <span class="menu-icon">
                                <i class="icon-placeholder fe fe-activity"></i>
                            </span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="menu-item ">
                    <a href="#" class="open-dropdown menu-link">
                            <span class="menu-label">
                                <span class="menu-name">Etats
                                    <span class="menu-arrow"></span>
                                </span>
                            </span>
                        <span class="menu-icon">
                                <i class="icon-placeholder fa fa-file"></i>
                            </span>
                    </a>
                    <!--submenu-->
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="{{ path('etat_produit_liste') }}" class=' menu-link'>
                                    <span class="menu-label">
                                        <span class="menu-name">Liste des produits</span>
                                    </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-cubes"></i></span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ path('produit_vendu_index') }}" class=' menu-link'>
                                    <span class="menu-label">
                                        <span class="menu-name">Produits vendu <span class="badge badge-primary">Liste</span></span>
                                    </span>
                                <span class="menu-icon"><i class="icon-placeholder fa fa-cubes"></i></span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</aside>
<main class="admin-main">
    <section class="admin-content ">
        <div class="bg-dark m-b-30">
            <div class="container">
                <div class="row p-b-60 p-t-60">
                    <div class="col-md-12 text-white p-b-30">
                        <div class="media">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger" id="printDiv" > <i class="mdi mdi-printer"></i>Imprimer</button>
                                    </div>
                                    <div class="col-md-6 text-right pull-right">
                                        <a href="{{ path('homepage') }}" class="btn btn-primary" ><i class="fa fa-reply"></i> Retour aux statistiques</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <form action="{{ path('produit_vendu_exportbale') }}">
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <select name="caissier" id="caissier" class="form-control">
                                                        <option value=""></option>
                                                        {% for caissier in caissiers %}
                                                            <option value="{{ caissier.username }}">{{ caissier.username }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="js-datepicker form-control" name="date_debut" autocomplete="off">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="js-datepicker form-control" name="date_fin" autocomplete="off">
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-primary">Valider</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="pull-up">
            <div class="container" id="printableArea">
                <div class="row"  >
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="border: #cccccc solid 1px">
                                        <div class="row mb-5">
                                            <div class="col-md-12">
                                                <p class="text-center h4 mb-2">
                                                    <strong>LISTE DES PRODUITS VENDUS</strong><br>
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        {% if date_debut == date_fin %}
                                                            Date:  <strong>{{ date_debut|date('d/m/Y') }}</strong>
                                                        {% else %}
                                                            Periode: du <strong>{{ date_debut|date('d/m/Y') }}</strong> au  <strong>{{ date_fin|date('d/m/Y') }}</strong>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" id="produitVendus" width="100%">
                                                    <thead>
                                                    <th>ID</th>
                                                    <th class="text-center">Dates</th>
                                                    <th class="text-center">Produits</th>
                                                    <th class="text-center">Qte</th>
                                                    <th class="text-center">P.A.</th>
                                                    <th class="text-center">P.V.</th>
                                                    <th class="text-center">B.U.</th>
                                                    <th class="text-center">B.Tot.</th>
                                                    </thead>
                                                    <tbody>
                                                    {% set bu = 0 %} {% set btot = 0 %} {% set totaux = 0 %} {% set pa = 0 %} {% set patot = 0 %}
                                                    {% set pv = 0 %} {% set pvtot = 0 %}
                                                    {% for vente in ventes %}
                                                        {% set bu = vente.produit.prixVente - vente.produit.prixAchat %}
                                                        {% set btot = bu * vente.quantite %}
                                                        {% set totaux = totaux + btot %}
                                                        {% set pa = vente.quantite * vente.produit.prixAchat %}
                                                        {% set patot = patot + pa %}
                                                        {% set pv = vente.produit.prixVente * vente.quantite %}
                                                        {% set pvtot = pvtot + pv %}
                                                        <tr style="font-size: .95rem;">
                                                            <td>{{ loop.index }}</td>
                                                            <td class="text-center">{{ vente.publieLe|date('d-m-Y H:i:s') }}</td>
                                                            <td class="text-left">{{ vente.produit.reference }} - {{ vente.produit.libelle }}</td>
                                                            <td class="text-center">{{ vente.quantite }}</td>
                                                            <td class="text-right">{{ vente.produit.prixAchat|number_format(0,'',',') }}</td>
                                                            <td class="text-right">{{ vente.produit.prixVente|number_format(0,'',',') }}</td>
                                                            <td class="text-right">{{ bu|number_format(0,'',',') }}</td>
                                                            <td class="text-right">{{ btot|number_format(0,'',',') }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr><td colspan="8"></td></tr>
                                                        <tr>
                                                            <td colspan="2">Totaux</td>
                                                            <td colspan="2" class="text-right">Achats </td>
                                                            <td colspan="2" class="text-center">Ventes </td>
                                                            <td colspan="2" class="text-center">Benefices </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"></td>
                                                            <th colspan="2" class="text-right text-danger"> {{ patot|number_format(0,'','.') }}</th>
                                                            <th colspan="2" class="text-center text-danger">{{ pvtot|number_format(0,'','.') }}  </th>
                                                            <th colspan="2" class="text-center text-danger">{{ totaux|number_format(0,'','.') }} </th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
{% block javascripts %}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/9556cd6744b0b19628598270bd385082cda6a269.js')) }}'></script>
    <script src='{{ absolute_url(asset('ressources/assets/js/invoice-print.js'))}}'></script>
    <script src="{{ asset('ressources/assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('ressources/vendor/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('ressources/vendor/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('ressources/vendor/datatables/jszip.min.js') }}"></script>
    <script src="{{ asset('ressources/vendor/datatables/pdfmake.min.js') }}"></script>
    <script src="{{ asset('ressources/vendor/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('ressources/vendor/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('ressources/vendor/datatables/buttons.print.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#produitVendus').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {extend: 'excelHtml5', footer: true},
                    {extend: 'pdfHtml5', footer: true}
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        } );
    </script>
{% endblock %}
</body>
</html>
