{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des produits{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">

                        {% set total = 0 %}
                        {% for facture in factures %}
                            {% set total = total + facture.montant %}
                        {% endfor %}
                        <h1 class="h1">
                            <div class="row">
                                <div class="col-md-8 text-left">
                                    {% if caissier %}
                                        {{caissier|title}}
                                    {% endif %}
                                    {% if debut %}
                                        <span style="font-size: 0.6em;">du {{ debut }}</span>
                                    {% endif %}
                                    {% if fin %}
                                      <span style="font-size: 0.6em;">au {{ fin }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-4 text-right">
                                    {{ total|number_format(0,'','.') }}
                                </div>
                            </div>

                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-7">

                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0"></h5>
                        </div>
                        <div class="card-body ">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success  alert-dismissible fade show" role="alert">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="icon mdi mdi-check-circle-outline"></i>
                                        </div>
                                        <div class="content">
                                            <strong></strong> {{ message|raw }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="icon mdi mdi-check-circle-outline"></i>
                                        </div>
                                        <div class="content">
                                            <strong></strong> {{ message|raw }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <form action="{{ path('caisse_jour') }}">
                                <div class="row mb-5">
                                    <div class="col-md-3">
                                        <select name="caissier" id="caissier" class="form-control">
                                            <option value=""></option>
                                            {% for caissier in caissiers %}
                                                <option value="{{ caissier.username }}">{{ caissier.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="js-datepicker form-control" name="date_debut" autocomplete="off">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="js-datepicker form-control" name="date_fin" autocomplete="off">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive p-t-10">
                                <table id="example" class="table   " style="width:100%">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Heure</td>
                                        <td>Reference</td>
                                        <td>montant</td>
                                        <td>Nombre</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set total = 0 %}
                                    {% for facture in factures if facture.montant is not null %}
                                        {% set total = total + facture.montant %}
                                        <tr class="text-danger">
                                            <td>{{ loop.index }}
                                            <td>{{ facture.publieLe|date('H:i:s') }}
                                            <td>{{ facture.reference }}
                                            <td>{{ facture.montant }}</td>
                                            <td>{{ facture.nombreProduit }}</td>
                                            <td>
                                                <a href="{{ path('caisse_facture_show', {'id': facture.id}) }}">
                                                    <i class="fa fa-eye"></i>
                                                </a> |
                                                <a href="{{ path('caisse_facture_delete', {'id': facture.id}) }}" onclick='return confirm("Êtes-vous sur de vouloir supprimer cette facture? Notez que cette action est irreversible.");'>
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--widget card ends-->
                </div>
                <div class="col-lg-5">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5>Facture N°: {{ facture.reference }}</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    Caisse: <strong>{{ facture.publiePar|title }}</strong>
                                </div>
                                <div class="col-md-6 text-right">
                                    Date: <strong>{{ facture.date|date('d-m-Y') }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive p-t-10">
                                <table class="" style="width:100%">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Produits</td>
                                        <td class="text-right">P.U.</td>
                                        <td class="text-center">Qte</td>
                                        <td class="text-right">Montants</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set pu = 0 %}
                                    {% for vente in ventes %}
                                        <tr>
                                            <td>{{ loop.index }}
                                            <td>{{ vente.produit.categorie.libelle }} {{ vente.produit.libelle }}</td>
                                            <td class="text-right">{{ vente.produit.prixVente }}</td>
                                            <td class="text-center">{{ vente.quantite }}</td>
                                            <td class="text-right">{{ (vente.quantite * vente.produit.prixVente)|number_format(0,'','.') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <hr>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="mt-5">
                                            <td colspan="3" class="text-right">Total:</td>
                                            <td colspan="2" class="text-right"><strong>{{ facture.montant|number_format(0,'','.') }}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
