{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>Codebarre</th>
                <td>{{ produit.codebarre }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Prixachat</th>
                <td>{{ produit.prixAchat }}</td>
            </tr>
            <tr>
                <th>Prixvente</th>
                <td>{{ produit.prixVente }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>Seuil</th>
                <td>{{ produit.seuil }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ produit.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ produit.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ produit.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ produit.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ produit.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
