{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des inventoriers{% endblock %}
{% block body %}
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container  m-b-30">
                <div class="row">
                    <div class="col-12 text-white p-t-40 p-b-90">
                        <h4 class="">  Gestion des produits</h4>
                        <div class="row">
                            <div class="col-md-6">{{ inventaire.fournisseur.nom }}, facture N°:{{ inventaire.refFournisseur }} du {{ inventaire.date|date('d-m-Y') }}</div>
                            <div class="col-md-6 text-right">Montant restant {{ inventaire.deduction|number_format(0,'','.') }} FCFA</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container  pull-up">
            <div class="row">
                <div class="col-lg-8">

                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Liste des produits</h5>
                        </div>
                        <div class="card-body ">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success  alert-dismissible fade show" role="alert">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="icon mdi mdi-check-circle-outline"></i>
                                        </div>
                                        <div class="content">
                                            <strong></strong> {{ message|raw }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="icon mdi mdi-check-circle-outline"></i>
                                        </div>
                                        <div class="content">
                                            <strong></strong> {{ message|raw }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="table-responsive p-t-10">
                                <table class="" style="width:100%">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>References</td>
                                        <td>Produits</td>
                                        <td>Qte</td>
                                        <td>Montants</td>
                                        <td>PU</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set pu = 0 %}
                                    {% for inventorier in inventoriers %}
                                        {% set pu = inventorier.montant / inventorier.quantite %}
                                        <tr>
                                            <td>{{ loop.index }}
                                            <td>{{ inventorier.produit.reference }}</td>
                                            <td>{{ inventorier.produit.libelle }}</td>
                                            <td>{{ inventorier.quantite }}</td>
                                            <td>{{ inventorier.montant }}</td>
                                            <td>{{ pu|round }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('inventorier_edit', {'id': inventorier.id}) }}" title="Modifier le inventorier"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--widget card ends-->


                </div>
                <div class="col-lg-4">
                    <div class="card m-b-30">
                        <div class="card-header">
                            <h5 class="m-b-0">Enregistrement</h5>
                        </div>
                        <div class="card-body ">
                            {{ form_start(form)}}
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    {{ form_widget(form.inventaire)}}
                                    {{ form_errors(form.inventaire) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    {{ form_widget(form.produit)}}
                                    {{ form_errors(form.produit) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    {{ form_widget(form.quantite)}}
                                    {{ form_errors(form.quantite) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    {{ form_widget(form.montant)}}
                                    {{ form_errors(form.montant) }}
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a href="{{ path('inventaire_index') }}" class="btn btn-danger"><i class="fa fa-reply"></i></a>
                                <input type="reset" class="btn btn-default" value="Annuler">
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{ absolute_url(asset('ressources/assets/bundles/ba78fede76f682cd388ed2abbfd1e1568e76f8a4.js')) }}'></script>
{% endblock %}
